[Unit]
Description=Terraria server service

[Service]
User=terraria
Group=terraria

#Uncomment the next line if you want to delay the service start (time in seconds, default = 60)
#ExecStartPre=/bin/sleep 60

PIDFile=/opt/TerrariaService/server.pid

Type=forking
TimeoutStartSec=20
ExecStart=/opt/TerrariaService/terraria start
TimeoutStopSec=20
ExecStop=/opt/TerrariaService/terraria stop


[Install]
WantedBy=multi-user.target
